* {
    border: 0;
    margin: 0;
}

@font-face {
    src: url("../../assets/Fonts/digital-7-mono.ttf");
    font-family: "Digital-7-mono";
}

body {
    background-image: url("../../assets/images/railroadTracks.jpeg");
    font-family: 'Fira Sans', sans-serif;
    font-size: 14pt;
}

.jumbotron{
    background-color: #F0E7D6;
    padding-bottom: 0;
    padding-top: 10px;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    font-size: 40pt;
}

h3 {
    font-family: 'PT Mono', monospace;
}

#currentTime {
   font-family: "Digital-7-mono";
   font-size: 50px;
}

.card-header, .modal-header {
    background-color: #DA4823;
    color: #F0E7D6;
    font-size: 16pt;
}

#addTrain, .arrival, #closeModal, #closeModalD, #closeModalF, #closeModalMT, #amelia {
    background-color: #DA4823;
    color: #F0E7D6;
}

.card, .modal-content {
    background-color: #F0E7D6;
}

#currentTime {
    position:aboslute;
    bottom: 0;
}

#footerColor {
    background-color: #DA4823;
    color: #F0E7D6;
}