* {
    border: 0;
    margin: 0;
}

@font-face {
    src: url("../../assets/Fonts/digital-7-mono.ttf");
    font-family: "Digital-7-mono";
}

body {
    background-image: url("../../assets/images/railroadTracks.jpeg")
}

.jumbotron{
    background-color: #F0E7D6;
    position: relative;
    height: 90%;
}

h1{
    font-family: 'Fira Sans', sans-serif;
}

h3 {
    font-family: 'PT Mono', monospace;
}

#currentTime {
   font-family: "Digital-7-mono";
   font-size: 100px
}

.card-header {
    background-color: #DA4823;
}
#addTrain {
    background-color: #DA4823;
}

.card {
    background-color: #F0E7D6;
}

#currentTime {
    position:aboslute;
    bottom: 0;
}